.cnt04{color: 111;
    header{color: 111;
        h3{
            color: 111;
        }
    }
    section{color: 111;
        article{color: 111;
            .image{
                color: 111;
            }
            .texts{color: 111;
                h5{
                    color: 111;
                }
                p{
                    color: 111;
                }
                span{
                    color: 111;
                }
            }
        }
        ul.pageNum{color: 111;
            li{color: 111;
                a{
                    color: 111;
                }
            }
        }
    }
}