.cnt05{color: 111;
    header{color: 111;
        h3{
            color: 111;
        }
    }
    section{color: 111;
        ul.table{color: 111;
            li.tablehead{color: 111;
                span{
                    color: 111;
                }
            }
            li:not(.tablehead){
                span.num
                {
                    color: 111;
                }
                span.area{
                    color: 111;
                }
                span.date{
                    color: 111;
                }
                a{
                    color: 111;
                }
            }
        }
        ul.pageNum{color:111;
            li{color:111;
                a{
                    color:111;
                }
            }
        }
    }
}