.gallery{color: 111;
	section{color: 111;
			.galSelect{
					color: 111;
			}
			h5{color: 111;
					span{
							color: 111;
					}
			}
			.galList{color: 111;
					ul.image{color: 111;
							li{color: 111;
									a{color: 111;}
							}
					}
					ul.btn{color: 111;
							li{
									color: 111;
							}
							.left{
									color: 111;
							}
							.right{
									color: 111;
							}
					}
			}
	}
}