.gallery {
  color: 111;
}
.gallery section {
  color: 111;
}
.gallery section .galSelect {
  color: 111;
}
.gallery section h5 {
  color: 111;
}
.gallery section h5 span {
  color: 111;
}
.gallery section .galList {
  color: 111;
}
.gallery section .galList ul.image {
  color: 111;
}
.gallery section .galList ul.image li {
  color: 111;
}
.gallery section .galList ul.image li a {
  color: 111;
}
.gallery section .galList ul.btn {
  color: 111;
}
.gallery section .galList ul.btn li {
  color: 111;
}
.gallery section .galList ul.btn .left {
  color: 111;
}
.gallery section .galList ul.btn .right {
  color: 111;
}