.cnt01{color: 111;
    header{color: 111;
        h3{
            color: 111;
        }
    }
    section{color: 111;
        .texts{color: 111;
            p{
                color: 111;
            }
        }
        .media{
            a{
                color: 111;
            }
        }
    }
}