.cnt06 {
  color: 111;
}
.cnt06 section {
  color: 111;
}
.cnt06 section article {
  color: 111;
}
.cnt06 section article .image {
  color: 111;
}
.cnt06 section article .texts {
  color: 111;
}
.cnt06 section article .texts h4 {
  color: 111;
}
.cnt06 section article .texts p {
  color: 111;
}
.cnt06 section article .texts ul {
  color: 111;
}
.cnt06 section article .texts ul li {
  color: 111;
}
.cnt06 section article .texts ul li a {
  color: 111;
}