.cnt04 {
  color: 111;
}
.cnt04 header {
  color: 111;
}
.cnt04 header h3 {
  color: 111;
}
.cnt04 section {
  color: 111;
}
.cnt04 section article {
  color: 111;
}
.cnt04 section article .image {
  color: 111;
}
.cnt04 section article .texts {
  color: 111;
}
.cnt04 section article .texts h5 {
  color: 111;
}
.cnt04 section article .texts p {
  color: 111;
}
.cnt04 section article .texts span {
  color: 111;
}
.cnt04 section ul.pageNum {
  color: 111;
}
.cnt04 section ul.pageNum li {
  color: 111;
}
.cnt04 section ul.pageNum li a {
  color: 111;
}