.cnt02{color: 111;
    header{color: 111;
        h3{
            color: 111;
        }
    }
    section{color: 111;
        article{color: 111;
            .image{
                color: 111;
            }
            .texts{color: 111;
                h4{
                    color: 111;
                }
                p{
                    color: 111;
                }
            }
        }
        a{
            color: 111;
        }
    }
}