.ftrWrap{color: 111;
    footer{color: 111;
        h2{color: 111;
            a{
                color: 111;
            }
        }
        .texts{color: 111;
            ul.ftrMenu{color: 111;
                li{color: 111;
                    a{
                        color: 111;
                    }
                }
            }
            ul.info{color: 111;
                li{
                    color: 111;
                }
            }
            address{
                color: 111;
            }
        }
        ul.sns{color: 111;
            li{color: 111;
                a{
                    color: 111;
                }
            }
        }
    }
}