.ftrWrap {
  color: 111;
}
.ftrWrap footer {
  color: 111;
}
.ftrWrap footer h2 {
  color: 111;
}
.ftrWrap footer h2 a {
  color: 111;
}
.ftrWrap footer .texts {
  color: 111;
}
.ftrWrap footer .texts ul.ftrMenu {
  color: 111;
}
.ftrWrap footer .texts ul.ftrMenu li {
  color: 111;
}
.ftrWrap footer .texts ul.ftrMenu li a {
  color: 111;
}
.ftrWrap footer .texts ul.info {
  color: 111;
}
.ftrWrap footer .texts ul.info li {
  color: 111;
}
.ftrWrap footer .texts address {
  color: 111;
}
.ftrWrap footer ul.sns {
  color: 111;
}
.ftrWrap footer ul.sns li {
  color: 111;
}
.ftrWrap footer ul.sns li a {
  color: 111;
}