// HEADER.SCSS

.hdrWrap{color: 111;
    header{color: 111;
        h1.logo{color: 111;
            a{
                color: 111;
            }
        }
        ul.gnb{color: 111;
            li{color: 111;
                a{
                    color: 111;
                }
            }
        }
        select{color: 111;
            option{
                color: 111;
            }
        }
    }
}