/* INDEX.CSS */

/* HEADER.CSS */
.hdrWrap {
  background-color: #eee;
}
.hdrWrap header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.hdrWrap header h1.logo {}
.hdrWrap header h1.logo a {}
.hdrWrap header ul.gnb {
  display: flex;
  column-gap: 65px;
}
.hdrWrap header ul.gnb li {
  text-transform: uppercase;
  font-size: 12px;
}
.hdrWrap header ul.gnb li a {
}
.hdrWrap header select {
  background-color: transparent;
}
.hdrWrap header select option {
}
/* END OF HEADER.CSS */

/* MAIN.CSS */
main {
  width: 100%;
}
main ul.mainGallery {
  width: 100%;
  height: 100vh;
  background-color: #fc0;
  position: relative;
}
main ul.mainGallery::before{
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../img/main_check.png);
  position: absolute;
  top: 0;
  left: 0;
}
main ul.mainGallery li {
  width: 100%;
  height: 100%;
  outline: 1px solid red;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main ul.mainGallery li:nth-of-type(1){
  background-image:url("../img/main01.jpg");
}
main ul.mainGallery li:nth-of-type(2){
  background-image:url("../img/main02.jpg");
}
main ul.mainGallery li:nth-of-type(3){
  background-image:url("../img/main03.jpg");
}
main ul.mainGallery li:nth-of-type(4){
  background-image:url("../img/main04.jpg");
}
main ul.mainGallery li:nth-of-type(5){
  background-image:url("../img/main05.jpg");
}
main ul.mainGallery li:nth-of-type(6){
  background-image:url("../img/main06.jpg");
}
main ul.mainGallery li:nth-of-type(7){
  background-image:url("../img/main07.jpg");
}
main ul.mainGallery li:nth-of-type(8){
  background-image:url("../img/main08.jpg");
}
main .texts {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  /*! left: 50%; */
  top: 50%;
}
main .texts p {
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-weight: 700;
  color: #fff;
  line-height: 20px;
}
main .texts h2 {}
main .texts h2 span {
  color: #fff;
  font-size: 60px;
  line-height: 80px;
  font-weight: 800;
}
/* END OF MAIN.CSS */

/* CNT 01.CSS - ABOUT US*/
.cnt01 {}
.cnt01 section .texts {
  text-align: center;
}
.cnt01 section .texts p {
    margin-top: 20px;
    line-height: 25px;
}
.cnt01 section .media{
  margin-top: 40px;
}
.cnt01 section .media a {
  display: block;
}
.cnt01 section .media a img{
  display: block;
  width: 100%;
  margin: 0 auto;
}
/* END OF CNT01 - ABOUTUS*/

/* CNT 02.CSS - COREBUSIENSS */
.cnt02 {
  background-color: #faf8f5;
}
.cnt02 section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cnt02 section article {
  width: 240px;
  margin-top: 40px;
}
.cnt02 section article .image {
  width: 100%;
  height: 120px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cnt02 section article .i2{
  background-image: url('../img/cnt02_img1.gif');
}
.cnt02 section article .i3{
  background-image: url('../img/cnt02_img2.gif');
}
.cnt02 section article .i4{
  background-image: url('../img/cnt02_img3.gif');
}
.cnt02 section article .texts {}
.cnt02 section article .texts h4 {
  text-align: center;
  text-transform: uppercase;
}
.cnt02 section article .texts p {
  margin-top: 20px;
  line-height: 25px;
}
.cnt02 section .btn{
  width: 100%;
  margin-top: 80px;
}
.cnt02 section .btn a {
  display: block;
  width: 250px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #555;
  font-size: 14px;
  font-weight: 700;
}
.cnt02 section .btn a span{
  background-image: url('../img/cnt02_img4.png');
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-bottom: 3px;
}
/* END of CNT 02 - COREBUSINESS */

/* CONTENT 03.CSS - GALLERY */
.gallery {
  
}
.gallery section {
  
}
.gallery section .galSelect {
  
}
.gallery section h5 {
  
}
.gallery section h5 span {
  
}
.gallery section .galList {
  
}
.gallery section .galList ul.image {
  
}
.gallery section .galList ul.image li {
  
}
.gallery section .galList ul.image li a {
  
}
.gallery section .galList ul.btn {
  
}
.gallery section .galList ul.btn li {
  
}
.gallery section .galList ul.btn .left {
  
}
.gallery section .galList ul.btn .right {
  
}

/* END of CNT 03 */

/* CONTENT 04.CSS - MEDIA */
.cnt04 {
  background-color: #f7f7f7;
}
.cnt04 section {
  margin-top: 40px;
}
.cnt04 section article {
  display: flex;
  justify-content: space-between;
}
.cnt04 section article:nth-of-type(2),
.cnt04 section article:nth-of-type(3){
  margin-top: 40px;
}
.cnt04 section article .image {
  width: calc(100% / 3 * 2);
  height: 360px;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cnt04 section article .i5{
  background-image: url('../img/cnt04_img1.jpg');
}
.cnt04 section article .i6{
  background-image: url('../img/cnt04_img2.jpg');
}
.cnt04 section article .i7{
  background-image: url('../img/cnt04_img3.jpg');
  background-size: contain;
}
.cnt04 section article .texts {
  width: calc(100% / 3);
  background-color:#fff;
  padding: 40px 20px;
  box-sizing: border-box;
  position: relative;
}
.cnt04 section article .texts h5 {
  line-height: 24px;
}
.cnt04 section article .texts p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}
.cnt04 section article .texts span {
  position: absolute;
  left: 20px;
  bottom: 40px;
  color: #999;
}

/* END of CNT 04 - MEDIA */

/* CNT 05. CSS - NOTICE */
.cnt05 {}
.cnt05 section {
  margin-top: 40px;
}
.cnt05 section ul.table li{
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-top: 1px solid #ccc;
}
.cnt05 section ul.table li.tablehead {
  height: 40px;
  font-size: 12px;
  font-weight: 800;
  color: #999;
}
.cnt05 section ul.table li span {
  display: block;
  text-align: center;
  box-sizing: border-box;
}
.cnt05 section ul.table li span.num {
  width: calc(100% / 12);
}
.cnt05 section ul.table li span.area {
  width: calc(100% / 12);
}
.cnt05 section ul.table li span.atitle {
  width: calc(100% / 12 * 8);
}
.cnt05 section ul.table li span.date {
  width: calc(100% / 12 * 2);
}
.cnt05 section ul.table li a {
  width: calc(100% / 12 * 8);
  display: block;
  font-weight: 800;
  margin-left: 20px;
}
.cnt05 section ul.pageNum{}
.cnt05 section ul.pageNum::before,
.cnt05 section ul.pageNum::after{
  display: none;
}

/* END of CNT 05 - NOTICE */

/* CNT 06 - Collab */
.cnt06 {
  
}
.cnt06 section {
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}
.cnt06 section article {
  width: calc(50% - 10px);
}
.cnt06 section article .image {
  
  width: 100%;
  height: 360px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cnt06 section article .i8{
  background-image: url('../img/cnt06_img1.jpg');
}
.cnt06 section article .i9{
  background-image: url('../img/cnt06_img2.jpg');
}
.cnt06 section article .i10{
  background-image: url('../img/cnt06_img3.jpg');
}
.cnt06 section article .i11{
  background-image: url('../img/cnt06_img4.jpg');
}

.cnt06 section article .texts {
  margin-top: 20px;
}
.cnt06 section article .texts h4 {
  line-height: 40px;
}
.cnt06 section article .texts p {
  font-size: 13px;
  line-height: 20px;
  height: 100px;
}
.cnt06 section article .texts ul {
/*   margin-top: 20px; */
  display: flex;
  column-gap: 40px;
}
.cnt06 section article .texts ul li {
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
}
.cnt06 section article .texts ul li:hover>a{
  color: #000;
  border-color: #000;
}
.cnt06 section article .texts ul li a {
  color: #999;
  /*! display: block; */
}
.cnt06 section article .texts ul li:not(.hide)::after{
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border: 1px solid #999;
  border-left: transparent;
  border-bottom: transparent;
  transform: translateY(4px) rotate(45deg);
  margin-left: 6px;
  cursor: pointer;
}
.cnt06 section article .texts ul li:hover:not(.hide)::after{
  border-color: #000;
}
/* End of CNT 06 - Collab */

/* FOOTER.CSS */
.ftrWrap {
}
.ftrWrap footer {
  display: flex;
  justify-content: space-between;
}
.ftrWrap footer h2 {
  
}
.ftrWrap footer h2 a {
  
}
.ftrWrap footer .texts {
  
}
.ftrWrap footer .texts ul.ftrMenu {
  
}
.ftrWrap footer .texts ul.ftrMenu li {
  
}
.ftrWrap footer .texts ul.ftrMenu li a {
  
}
.ftrWrap footer .texts ul.info {
  
}
.ftrWrap footer .texts ul.info li {
  
}
.ftrWrap footer .texts address {
  
}
.ftrWrap footer ul.sns {
  
}
.ftrWrap footer ul.sns li {
  
}
.ftrWrap footer ul.sns li a {
  
}

/* END of FOOTER.CSS */