main {
  color: 111;
}
main ul.mainGallery {
  color: 111;
}
main ul.mainGallery li {
  color: 111;
}
main .texts {
  color: 111;
}
main .texts p {
  color: 111;
}
main .texts h2 {
  color: 111;
}
main .texts h2 span {
  color: 111;
}
main ul.mainPage {
  color: 111;
}
main ul.mainPage li.pageOn {
  color: 111;
}
main ul.mainPage li.pageOn a {
  color: 111;
}
main ul.mainPage li {
  color: 111;
}
main ul.mainPage li a {
  color: 111;
}