main{color: 111;
    ul.mainGallery{color: 111;
        li{
            color: 111;
        }
    }
    .texts{color: 111;
        p{
            color: 111;
        }
        h2{color: 111;
            span{
                color: 111;
            }
        }
    }
    ul.mainPage{color: 111;
        li.pageOn{color: 111;
            a{
                color: 111;
            }
        }
        li{color: 111;
            a{
                color: 111;
            }
        }
    }
}